/* Spider */

.spider {
    display: none;
    position: absolute;
    top: 0;
    left: 120px;
}

.normalanimation {
    animation: bouncing 8s infinite;
}

.hideanimation {
    animation: hide 2s linear forwards;
}

.commingbackanimation {
    animation: commingback 4s linear;
}

.spiderweb {
    position: relative;
    height: 200px;
    width: 1px;
    background-color: var(--ghostly--white);
}

.spider-body {
    cursor: pointer;
    position: absolute;
    right: -40px;
    bottom: -30px;
    height: 70px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--spooky--black);
    z-index: 2;
}

.eyes {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--ghostly--white);
}

.eye {
    position: absolute;
    height: 10px;
    width: 10px;
    transform: translateX(16px) translateY(5px);
    background-color: var(--spooky--black);
    border-radius: 50%;
    animation: moving-eyes 8s infinite;
}

.left {
    bottom: -15px;
    right: -8px;
}

.right {
    bottom: 10px;
    right: -45px;
}

.legs-left {
    position: absolute;
    right: 20px;
}

.legs-right {
    position: absolute;
    left: 20px;
}

.leg {
    position: relative;
    height: 40px;
    width: 70px;
    top: -25px;
    border: 5px solid transparent;
    border-top-color: var(--spooky--black);
    border-radius: 40px 40px 0 0;
}

.leg:nth-child(2) {
    top: -45px;
}

.leg-left {
    top: -70px;
    right: -15px;
}

.leg-right {
    top: -70px;
    left: -15px;
}

/* Ghosts */

.main-ghost {
    position: absolute;
    width: 43%;
    bottom: -10px;
    right: -200px;
    filter: drop-shadow(-10px 23px 15px #181b3b4b);
}

.pink-ghost {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: -120px;
    filter: drop-shadow(-10px 23px 15px #181b3b4b);
}

.fa-ghost {
    cursor: pointer;
    z-index: 0;
    color: var(--spooky--black);
    position: absolute;
    font-size: 20px;
    top: -8px;
    left: 132px;
    transition: opacity 400ms ease-in;
}

.ghost-animation {
    animation: ghost-move 1s linear forwards;
}