@import url("reset.css");
@import url("var.css");
@import url("animations.css");
@import url("register.css");

body {
    background-color: var(--main--orange);
}

.ghost-section {
    background-color: var(--spooky--black);
}

.home a, .home {
    color: var(--main--orange);
}

.title {
    color: var(--main--orange);
}

.login-section {
    gap: 25px;
}

.login-section input:focus {
    background-color: #ffbd59d3;
}

.login-section button {
    background-color: var(--spooky--black);
    color: var(--main--orange);
}

.login-section button:hover {
    background-color: var(--main--orange);
    color: var(--spooky--black);
}