@import url("reset.css");
@import url("var.css");
@import url("animations.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--spooky--black);
}

.register-container {
    position: relative;
    margin: 30px;
    display: flex;
    width: 1200px;
    min-width: 680px;
    height: 800px;
    border-radius: 25px;
    overflow: hidden;
}

.title {
    position: absolute;
    color: var(--spooky--black);
    font-weight: bold;
    text-align: center;
    top: 60px;
    left: 50px;
    font-size: 50px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 3px;
    top: 12px;
    left: 12px;
    color: var(--spooky--black);
    font-size: 20px;
    font-weight: 400;
    transition: all 300ms ease-in-out;
}

.home:hover {
    color: var(--ghostly--white);
    transform: scale(1.06);
    transition: all 300ms ease-in-out;
}

.home:hover #home-link {
    color: var(--ghostly--white);
    transition: all 300ms ease-in-out;
}

#home-link {
    transition: all 300ms ease-in-out;
}

.ghost-section {
    position: relative;
    background-color: var(--main--orange);
    width: 50%;
    height: 100%;
}

.register-ghost {
    width: 95%;
    bottom: 60px;
    position: absolute;
    animation: ghost-floating 2300ms infinite;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--ghostly--white);
    width: 50%;
    height: 100%;
}

.register-title {
    text-align: center;
    color: var(--spooky--black);
}

.register-title h2 {
    font-size: 30px;
    font-weight: 700;
}

.register-title p {
    font-size: 18px;
    font-weight: 500;
    color: var(--light-spooky--black);
}

.register-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
    color: var(--light-spooky--black);
}

.register-section label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    font-size: 15px;
    font-weight: 500;
    gap: 2px;
}

.register-section input {
    text-align: center;
    background-color: var(--pure--white);
    color: var(--spooky--black);
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    transition: all 200ms ease-out;
}

.input {
    border: none;
    outline: none;
}

.fa-circle-check, .fa-circle-xmark {
    position: absolute;
    right: 10px;
    bottom: 8px;

}

.fa-circle-check {
    color: rgb(142, 206, 142);
}

.fa-circle-xmark {
    color: rgb(206, 142, 142);
}

.register-section input:focus {
    background-color: #181b3bda;
    color: var(--ghostly--white);
}

.register-section button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--main--orange);
    color: var(--spooky-black);
    font-weight: 600;
    width: 60%;
    padding: 9px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

#sign-in {
    text-align: center;
    margin-top: -5px;
    font-size: 15px;
}

#sign-in a {
    transition: all 200ms ease-in-out;
}

#sign-in a:hover {
    color: #df921e;
}

.register-section button:hover {
    transform: scale(1.1);
    background-color: var(--spooky--black);
    color: var(--main--orange);
    transition: all 200ms ease-in-out;
}

.success {
    outline: 1px solid rgb(142, 206, 142);
}

.not-valid {
    outline: 1px solid rgb(206, 142, 142);
}

.msgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.msgs span {
    opacity: 0;
    text-align: center;
    transition: opacity 300ms ease-in;
    font-size: 14px;
}

.msg-icon {
    position: static;
}

.account-created,
.account-logged {
    position: absolute;
    text-align: center;
    height: auto;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    transition: opacity 100ms ease-in;
    opacity: 0;
    background-color: var(--ghostly--white);
    padding: 25px;
    border-radius: 15px;
    left: 0;
    right: 0;
    top: 45%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.301);
}

.account-created h3,
.account-logged h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--spooky--black);
    gap: 5px;
}

.account-created i,
.account-logged i {
    position: static;
}

.account-created p,
.account-logged p {
    color: var(--light-spooky--black);
    font-weight: 500;
}