@media screen and (max-width: 1000px) {
    .title {
        padding-right: 20px;
    }

    .register-title {
        padding: 0 20px;
    }
}

@media screen and (max-width: 730px) {
    .title i {
        display: none;
    }

    .title {
        position: static;
        padding-top: 60px;
        padding-right: 0;
    }

    .register-container {
        flex-direction: column;
        border-radius: unset;
        height: 100%;
        width: 100%;
    }

    @keyframes ghost-floating {
        0% {
            transform: translateY(-8px);
            filter: drop-shadow(-3px 10px 10px rgba(0, 0, 0, 0.281));
        }

        50% {
            transform: translateY(8px);
            filter: drop-shadow(-3px 10px 18px rgba(0, 0, 0, 0.575));
        }

        100% {
            transform: translateY(-8px);
            filter: drop-shadow(-3px 10px 10px rgba(0, 0, 0, 0.281));
        }
    }

    .ghost-section,
    .register-section {
        width: 100%;
    }

    .register-ghost {
        width: 100px;
        height: auto;
        bottom: 20px;
    }

    .ghost-section {
        display: flex;
        justify-content: center;
        height: 320px;
    }

    .register-section {
        min-height: calc(100vh - 320px);
    }

    .register-container {
        height: unset;
        min-width: unset;
        min-height: 100vh;
        margin: 0;
    }

    .register-title h2 {
        padding-top: 20px;
    }

    #sign-in {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 330px) {
    .register-ghost {
        display: none;
    }
}